<h3>Groups:</h3>
		<% for i in 0..@groups.length-1 do %>
		<div class="alert alert-danger" role="alert">
		  <h4><a href="groups/<%= @groups[i]['id'] %>"><%= @groups[i]['groupname'] %>,<%= @groups[i]['location'] %></a></h4><br>
		  <%= @groups[i]['description'] %>
		  </div>
		  <hr>
		<% end %>